In [ ]:
import pandas as pd
housing = pd.read_csv('/content/housing.csv')
housing.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

1. How many houses have a waterfront?

A. 140

B. 340

C. 323

D. 163

Answer:"D"

In [ ]:
waterfront=housing["waterfront"].sum()
waterfront

163

2. Which zip code has the costliest house?

A. 98456

B. 98102

C. 98283

D. 89034

Answer:"B"

In [ ]:
zipcode = housing.loc[housing['price'].idxmax(), 'zipcode']
print(zipcode)

98102

3. How many houses are having grade 10?

A. 1133

B. 1134

C. 1135

D. 1132

ANSWER:"B"

In [ ]:
grade_10_count = (housing['grade'] == 10).sum()
print(grade_10_count)

1134

4. How many null values are there in the dataset?

A. 20

B. 19

C. 0

D. 4

Answer:"C"

In [ ]:
null_values_count = housing.isnull().sum().sum()
print(null_values_count)

0

5. Does this 9126100861 customer have a waterfront?

A. Yes

B. No

Answer:"B"

In [ ]:
customer_id = 9126100861
waterfront_status = housing.loc[housing['id'] == customer_id, 'waterfront'].iloc[0]

if waterfront_status == 1:
    print("Yes, the customer has a waterfront property.")
else:
    print("No, the customer does not have a waterfront property.")

No, the customer does not have a waterfront property.

6. How many houses have 3 views?

A. 340

B. 550

C. 510

D. 90

Answer:"C"

In [ ]:
view_3_count = (housing['view'] == 3).sum()
print(view_3_count)

510

7. What is the lowest price of the house?

A. 45000

B. 28000

C. 75000

D. 25000

Answer:"C"

In [ ]:
lowest_price = housing['price'].min()
print(lowest_price)

75000

8. Which zip code area has the cheapest house?

A. 98000

B. 98022

C. 80000

D. 94500

Answer:"B"

In [ ]:
min_price_index = housing['price'].idxmin()
cheapest_house_zipcode = housing.loc[min_price_index, 'zipcode']
print(cheapest_house_zipcode)

98022

9. Which area has the biggest sqft_living?

A. 98053

B. 98055

C. 98035

D. None of the above

Answer:"A"

In [ ]:
biggest_sqft_living_zip = housing.loc[housing['sqft_living'].idxmax(), 'zipcode']
biggest_sqft_living_zip

98053

10. In which year the costliest house has been built?

A. 2000

B. 1992

C. 1911

D. 1910

Answer:"D"

In [ ]:
costliest_house_index = housing['price'].idxmax()
year_built = housing.loc[costliest_house_index, 'yr_built']
print(year_built)

1910

11. Which of the following data types can a Pandas Series have?

A. Int

B. Str

C. Float

D. All of the above

Answer:"D"

12. Which of the following is having a one-dimensional array?

A. Series data type

B. DataFrame data type

C. Both of the above

D. None of the above

Answer:"A"

13. What value will you get on the left side after printing a series format data?

A. Data

B. Value

C. Index

D. All of the above

Answer:"C"

In [ ]:
import pandas as pd

data = [10, 20, 30]
series = pd.Series(data)
print(series)

0    10
1    20
2    30
dtype: int64

14. Which of the following is considered as data in pandas?

A. Dictionary

B. Boolean

C. Nd-array

D. All of the above

Answer:"D"

In [ ]:
import pandas as pd
import numpy as np

# Dictionary as data
data_dict = {'col1': [1, 2], 'col2': [3, 4]}
df_dict = pd.DataFrame(data_dict)
print(df_dict)
# Boolean as data
data_bool = [True, False, True]
series_bool = pd.Series(data_bool)
print(series_bool)
# Nd-array as data
data_array = np.array([[1, 2], [3, 4]])
df_array = pd.DataFrame(data_array)
print(df_array)

   col1  col2
0     1     3
1     2     4
0     True
1    False
2     True
dtype: bool
   0  1
0  1  2
1  3  4

15. In what format the keys will get converted into when we convert the dictionary data into
data frame format?

A. Rows

B. Columns

C. Indexes

D. Records

Answer:"B"

In [ ]:
import pandas as pd

data = {'Name': ['Alice', 'Bob'], 'Age': [25, 30]}
df = pd.DataFrame(data)

print(df)

    Name  Age
0  Alice   25
1    Bob   30

16. Write a function to perform the following operation:
Increase the grade of the house by 1 if the sqft of the house is greater than 0 and less than
equal to 400. If the total sqft of the house is greater than 400, increase the grade of the house
by 2.

After creating the above function, which syntax will be using when using apply function to run
the above created function in the dataset?

A. data.apply(your_function_name(arg1))

B. data.apply_fun(function_name())

C. data.app(data)

D. None of the above


Answer:"A"

In [ ]:
import pandas as pd

# Assuming 'housing' is your DataFrame loaded with data
def increase_grade(row):
    if 0 < row['sqft_living'] <= 400:
        row['grade'] += 1  # Increase grade by 1
    elif row['sqft_living'] > 400:
        row['grade'] += 2  # Increase grade by 2
    return row

housing = housing.apply(increase_grade, axis=1)

# Print the updated DataFrame
print(housing)

               id             date   price  bedrooms  bathrooms  sqft_living  \
0      7129300520  20141013T000000  221900         3       1.00         1180
1      6414100192  20141209T000000  538000         3       2.25         2570
2      5631500400  20150225T000000  180000         2       1.00          770
3      2487200875  20141209T000000  604000         4       3.00         1960
4      1954400510  20150218T000000  510000         3       2.00         1680
...           ...              ...     ...       ...        ...          ...
21608   263000018  20140521T000000  360000         3       2.50         1530
21609  6600060120  20150223T000000  400000         4       2.50         2310
21610  1523300141  20140623T000000  402101         2       0.75         1020
21611   291310100  20150116T000000  400000         3       2.50         1600
21612  1523300157  20141015T000000  325000         2       0.75         1020

       sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
0          5650     1.0           0     0  ...     11        1180
1          7242     2.0           0     0  ...     11        2170
2         10000     1.0           0     0  ...     10         770
3          5000     1.0           0     0  ...     11        1050
4          8080     1.0           0     0  ...     12        1680
...         ...     ...         ...   ...  ...    ...         ...
21608      1131     3.0           0     0  ...     12        1530
21609      5813     2.0           0     0  ...     12        2310
21610      1350     2.0           0     0  ...     11        1020
21611      2388     2.0           0     0  ...     12        1600
21612      1076     2.0           0     0  ...     11        1020

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
0                  0      1955             0    98178  47.5112 -122.257
1                400      1951          1991    98125  47.7210 -122.319
2                  0      1933             0    98028  47.7379 -122.233
3                910      1965             0    98136  47.5208 -122.393
4                  0      1987             0    98074  47.6168 -122.045
...              ...       ...           ...      ...      ...      ...
21608              0      2009             0    98103  47.6993 -122.346
21609              0      2014             0    98146  47.5107 -122.362
21610              0      2009             0    98144  47.5944 -122.299
21611              0      2004             0    98027  47.5345 -122.069
21612              0      2008             0    98144  47.5941 -122.299

       sqft_living15  sqft_lot15
0               1340        5650
1               1690        7639
2               2720        8062
3               1360        5000
4               1800        7503
...              ...         ...
21608           1530        1509
21609           1830        7200
21610           1020        2007
21611           1410        1287
21612           1020        1357

[21613 rows x 21 columns]

17. How to check the duplicate values on id,grade and location?

A. df.duplicated(subset=['id','zipcode','grade'])

B. df.duplicate(subset=['id','zipcode','grade'])

C. df[df.duplicated(['id','zipcode','grade’])]

D. All of the above

Answer:"C"

In [ ]:
# Assuming your DataFrame ised 'housing'
duplicate_rows = housing[housing.duplicated(subset=['id', 'zipcode', 'grade'], keep=False)]
print(duplicate_rows)

               id             date    price  bedrooms  bathrooms  sqft_living  \
93     6021501535  20140725T000000   430000         3       1.50         1580
94     6021501535  20141223T000000   700000         3       1.50         1580
313    4139480200  20140618T000000  1384000         4       3.25         4290
314    4139480200  20141209T000000  1400000         4       3.25         4290
324    7520000520  20140905T000000   232000         2       1.00         1240
...           ...              ...      ...       ...        ...          ...
20670  8564860270  20150330T000000   502000         4       2.50         2680
20779  6300000226  20140626T000000   240000         4       1.00         1200
20780  6300000226  20150504T000000   380000         4       1.00         1200
21580  7853420110  20141003T000000   594866         3       3.00         2780
21581  7853420110  20150504T000000   625000         3       3.00         2780

       sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
93         5000     1.0           0     0  ...     12        1290
94         5000     1.0           0     0  ...     12        1290
313       12103     1.0           0     3  ...     15        2690
314       12103     1.0           0     3  ...     15        2690
324       12092     1.0           0     0  ...     10         960
...         ...     ...         ...   ...  ...    ...         ...
20670      5539     2.0           0     0  ...     12        2680
20779      2171     1.5           0     0  ...     11        1200
20780      2171     1.5           0     0  ...     11        1200
21580      6000     2.0           0     0  ...     13        2780
21581      6000     2.0           0     0  ...     13        2780

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
93               290      1939             0    98117  47.6870 -122.386
94               290      1939             0    98117  47.6870 -122.386
313             1600      1997             0    98006  47.5503 -122.102
314             1600      1997             0    98006  47.5503 -122.102
324              280      1922          1984    98146  47.4957 -122.352
...              ...       ...           ...      ...      ...      ...
20670              0      2013             0    98045  47.4759 -121.734
20779              0      1933             0    98133  47.7076 -122.342
20780              0      1933             0    98133  47.7076 -122.342
21580              0      2013             0    98065  47.5184 -121.886
21581              0      2013             0    98065  47.5184 -121.886

       sqft_living15  sqft_lot15
93              1570        4500
94              1570        4500
313             3860       11244
314             3860       11244
324             1820        7460
...              ...         ...
20670           2680        5992
20779           1130        1598
20780           1130        1598
21580           2850        6000
21581           2850        6000

[353 rows x 21 columns]

18. Which of the following code will help to display the 3rd, 4th and 5th rows from the 6th to 9th
columns of data frame data?

A. data.loc[3:6, 6:10]

B. data.iloc[3;6,6;10]

C. data.iloc[3:6,6:10]

D. None of the above

Answer:"C"

In [ ]:
housing.iloc[3:6, 6:10]

   sqft_lot  floors  waterfront  view
3      5000     1.0           0     0
4      8080     1.0           0     0
5    101930     1.0           0     0

19. Which of the following syntax will display the last two records of df?
import pandas as pd

df = pd.DataFrame({'A':[34, 78, 54], 'B':[12, 67, 43]}, index=['r1', 'r2', 'r3'])

A. df.iloc[:'r3']

B. df.loc['r2':'r3']

C. df.iloc['r2':'r3']

D. df.loc[:'r3']

Answer:"B"

In [ ]:
df = pd.DataFrame({'A':[34, 78, 54], 'B':[12, 67, 43]}, index=['r1', 'r2', 'r3'])
df.loc['r2':'r3']

     A   B
r2  78  67
r3  54  43

20. Which of the following is/are true about loc in pandas:

A. Add new rows in the data frames

B. To change the values of a row to a particular value

C. To extract values from the particular rows

D. All of the above

Answer:"D"

In [ ]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

# A. Add new rows in the data frames
new_row = {'A': 4, 'B': 7}
# Convert the new row dictionary to a DataFrame
new_row_df = pd.DataFrame([new_row])
# Concatenate the original DataFrame and the new row DataFrame
df = pd.concat([df, new_row_df], ignore_index=True)

# B. To change the values of a row to a particular value
df.loc[0] = [10, 20]  # Changing the first row

# C. To extract values from the particular rows
extracted_values = df.loc[1]  # Extracting the second row

print(df)
print(extracted_values)

    A   B
0  10  20
1   2   5
2   3   6
3   4   7
A    2
B    5
Name: 1, dtype: int64

21. Change the date column in the format (dd/mm/year) using the pandas to_datetime()
Function.

A. pd.to_datetime(data['date'], format='%Y-%m-%d', utc=False, dayfirst=True)

B. pd.to_datetime(data['date'])

C. pd.to_datetime(data['dates'], format='%Y-%m-%d', utc=False, dayfirst=True)

D. pd.to_datetime(data['date'])

Answer:"A"

In [ ]:
import pandas as pd

data = pd.DataFrame({"date": ["2023-12-25", "2023-01-01"]})
data['date'] = pd.to_datetime(data['date'], format='%Y-%m-%d', utc=False, dayfirst=True)
print("Formatted Dates:\n", data['date'])

Formatted Dates:
 0   2023-12-25
1   2023-01-01
Name: date, dtype: datetime64[ns]

22) Create a separate data frame that satisfies the conditions below.

1. Houses built before 1980

2. Have more than 2 bedrooms

3. Have more than 2 floors.

A. data.loc[(data["yr_built"] > 1980) & (data['floors'] > 2) & (data['bedrooms'] > 2)]

B. data.loc[(data["yr_built"] < 1980) & (data['floors'] > 2) & (data['bedrooms'] > 2)]

C. data.loc[(data["yr_built"] | 1980) & (data['floors'] > 2) | (data['bedrooms'] > 2)]

D. data.loc[(data["yr_built"] < 1980) | (data['floors'] > 2) | (data['bedrooms'] < 2)]

Answer:"B"

In [ ]:
# 22. Create a separate DataFrame satisfying the given conditions
data = pd.DataFrame({"yr_built": [1970, 1985], "floors": [3, 1], "bedrooms": [4, 2]})
filtered_data = data.loc[(data["yr_built"] < 1980) & (data['floors'] > 2) & (data['bedrooms'] > 2)]
print("Filtered Data:\n", filtered_data)

Filtered Data:
    yr_built  floors  bedrooms
0      1970       3         4

23. For a given nested list, convert the same into a dataframe.

sample_list = [['Carl', 22],
['Martha', 25],
['Calvin', 12],
['Stuart', 15]
]
The resulting dataframe must contain the column names as ‘Name’, and ‘Age’ with the

respective values from the sample_list.

A. pd.DataFrame(sample_list)

B. pd.DataFrame(sample_list, column_names=['Name', 'Age'])

C. pd.DataFrame(sample_list, columns=['Name', 'Age'])

D. pd.DataFrame(sample_list, column_name=['Name', 'Age'])

Answer:"C"

In [ ]:

sample_list = [['Carl', 22], ['Martha', 25], ['Calvin', 12], ['Stuart', 15]]
df_list = pd.DataFrame(sample_list, columns=['Name', 'Age'])
print("DataFrame from List:\n", df_list)

DataFrame from List:
      Name  Age
0    Carl   22
1  Martha   25
2  Calvin   12
3  Stuart   15

24. For a given dictionary, convert the same into a dataframe.

sample_dict = {'Cristiano': ['Ronaldo','Man U', 801],
'Lionel': ['Messi','PSG', 758],
'Luis': ['Suarez','Atletico Madrid', 509],
'Robert': ['Lewandowski','Bayern Munich', 527],
'Zlatan': ['Ibrahimovic','AC Milan',553]

}

A. df1 = pd.Dataframe(sample_dict)
df1 = df1.transpose()
df1.reset_index(inplace = True)
df1.columns = ['First Name','Last Name', 'Club', 'Goals']

B. df1 = pd.DataFrame(sample_dict)
df1 = df1.transpose()
df1.reset_index(inplace = True)
df1.columns = ['First Name','Last Name', 'Club', 'Goals']

C. df1 = pd.DataFrame(sample_dict)
df1.reset_index(inplace = True)
df1.columns = ['First Name','Last Name', 'Club', 'Goals']

D. df1 = pd.DataFrame(sample_dict)
df1 = df1.transpose()
df1.columns = ['First Name','Last Name', 'Club', 'Goals']

Answer:"B"

In [ ]:

sample_dict = {
    'Cristiano': ['Ronaldo','Man U', 801],
    'Lionel': ['Messi','PSG', 758],
    'Luis': ['Suarez','Atletico Madrid', 509],
    'Robert': ['Lewandowski','Bayern Munich', 527],
    'Zlatan': ['Ibrahimovic','AC Milan',553]
}
df_dict = pd.DataFrame(sample_dict).transpose()
df_dict.reset_index(inplace=True)
df_dict.columns = ['First Name', 'Last Name', 'Club', 'Goals']
print("DataFrame from Dictionary:\n", df_dict)

DataFrame from Dictionary:
   First Name    Last Name             Club Goals
0  Cristiano      Ronaldo            Man U   801
1     Lionel        Messi              PSG   758
2       Luis       Suarez  Atletico Madrid   509
3     Robert  Lewandowski    Bayern Munich   527
4     Zlatan  Ibrahimovic         AC Milan   553

25. For a given tuple, convert the same into a dataframe.

sample_tuple = ([1, 'one', 3],
[2, 'two', 3],
[3, 'Three', 5],
[4, 'Four', 4],
[5, 'Five', 4])

A. pd.Dataframe(sample_tuple, columns=['Number', 'Number_text', 'txtlen'])

B. pd.DataFrame(sample_tuple, columns=['Number', 'Number_text', 'txtlen'])

C. pd.dataframe(sample_tuple, columns=['Number', 'Number_text', 'txtlen'])

D. pd.DataFrame(sample_tup, columns=['Number', 'Number_text', 'txtlen'])

Answer:"B"

In [ ]:
sample_tuple = ([1, 'one', 3], [2, 'two', 3], [3, 'Three', 5], [4, 'Four', 4], [5, 'Five', 4])
df_tuple = pd.DataFrame(sample_tuple, columns=['Number', 'Number_text', 'txtlen'])
print("DataFrame from Tuple:\n", df_tuple)

DataFrame from Tuple:
    Number Number_text  txtlen
0       1         one       3
1       2         two       3
2       3       Three       5
3       4        Four       4
4       5        Five       4

26. Create a separate dataframe that contains houses ordered in ascending or descending
order of the prices of each house.

A. ascending = housing.sort_values('price', ascending=False)
descending = housing.sort_values('price', ascending=False)

B. ascending = housing.sort_values('price', ascending=True)
descending = housing.sort_values('price', ascending=False)

C. ascending = housing.sort_values('price', ascending=False)
descending = housing.sort_values('price', ascending=True)

D. ascending = housing.sort_values('price', ascending=True)
descending = housing.sort_values('price', ascending=True)

Answer:"B"

In [ ]:

data = pd.DataFrame({"price": [300000, 150000, 450000]})
ascending = data.sort_values('price', ascending=True)
descending = data.sort_values('price', ascending=False)
print("Ascending Order:\n", ascending)
print("Descending Order:\n", descending)

Ascending Order:
     price
1  150000
0  300000
2  450000
Descending Order:
     price
2  450000
0  300000
1  150000

27. Calculate the mean and standard deviation of all the numerical values in the dataset. For
example - the mean for the bedrooms column is 3.370 and the standard deviation is 0.930.

A. housing.describe()

B. housing.info()

C. housing.corr()

D. housing.std()

Answer:"A"

In [ ]:
import pandas as pd

# Assuming your dataset is loaded into a pandas DataFrame called 'housing'
numerical_stats = housing.describe()

# Print the summary statistics
print(numerical_stats)

                 id         price      bedrooms     bathrooms   sqft_living  \
count  2.161300e+04  2.161300e+04  21613.000000  21613.000000  21613.000000
mean   4.580302e+09  5.400881e+05      3.370842      2.114757   2079.899736
std    2.876566e+09  3.671272e+05      0.930062      0.770163    918.440897
min    1.000102e+06  7.500000e+04      0.000000      0.000000    290.000000
25%    2.123049e+09  3.219500e+05      3.000000      1.750000   1427.000000
50%    3.904930e+09  4.500000e+05      3.000000      2.250000   1910.000000
75%    7.308900e+09  6.450000e+05      4.000000      2.500000   2550.000000
max    9.900000e+09  7.700000e+06     33.000000      8.000000  13540.000000

           sqft_lot        floors    waterfront          view     condition  \
count  2.161300e+04  21613.000000  21613.000000  21613.000000  21613.000000
mean   1.510697e+04      1.494309      0.007542      0.234303      3.409430
std    4.142051e+04      0.539989      0.086517      0.766318      0.650743
min    5.200000e+02      1.000000      0.000000      0.000000      1.000000
25%    5.040000e+03      1.000000      0.000000      0.000000      3.000000
50%    7.618000e+03      1.500000      0.000000      0.000000      3.000000
75%    1.068800e+04      2.000000      0.000000      0.000000      4.000000
max    1.651359e+06      3.500000      1.000000      4.000000      5.000000

              grade    sqft_above  sqft_basement      yr_built  yr_renovated  \
count  21613.000000  21613.000000   21613.000000  21613.000000  21613.000000
mean      11.656318   1788.390691     291.509045   1971.005136     84.402258
std        1.177578    828.090978     442.575043     29.373411    401.679240
min        3.000000    290.000000       0.000000   1900.000000      0.000000
25%       11.000000   1190.000000       0.000000   1951.000000      0.000000
50%       11.000000   1560.000000       0.000000   1975.000000      0.000000
75%       12.000000   2210.000000     560.000000   1997.000000      0.000000
max       17.000000   9410.000000    4820.000000   2015.000000   2015.000000

            zipcode           lat          long  sqft_living15     sqft_lot15
count  21613.000000  21613.000000  21613.000000   21613.000000   21613.000000
mean   98077.939805     47.560053   -122.213896    1986.552492   12768.455652
std       53.505026      0.138564      0.140828     685.391304   27304.179631
min    98001.000000     47.155900   -122.519000     399.000000     651.000000
25%    98033.000000     47.471000   -122.328000    1490.000000    5100.000000
50%    98065.000000     47.571800   -122.230000    1840.000000    7620.000000
75%    98118.000000     47.678000   -122.125000    2360.000000   10083.000000
max    98199.000000     47.777600   -121.315000    6210.000000  871200.000000

28) Perform the following operations on the pandas dataframe.

1. Get the data starting from the rows 25 to 35.

2. Get the price of the houses located at the longitude--122.045 latitude- 47.6168.

A. data[25:35], data.loc[(housing["lat"] == 47.6168) | (data["long"] == -122.045)]


B. data[25:35], data.loc[(housing["lat"] == 48.6168) & (data["long"] == -122.045)]

C. data[25:36], data.loc[(housing["lat"] == 47.6168) & (data["long"] == -122.045)]

D. data[24:36], data.loc[(housing["lat"] == 47.6168) & (data["long"] == -122.045)]

Answer:"C"

In [ ]:

data = pd.DataFrame({"lat": [47.6168, 48.6168], "long": [-122.045, -122.045], "price": [500000, 300000]})
filtered_rows = data.iloc[24:36]
filtered_lat_long = data.loc[(data["lat"] == 47.6168) & (data["long"] == -122.045)]
print("Filtered Rows:\n", filtered_rows)
print("Filtered by Lat/Long:\n", filtered_lat_long)

Filtered Rows:
 Empty DataFrame
Columns: [lat, long, price]
Index: []
Filtered by Lat/Long:
        lat     long   price
0  47.6168 -122.045  500000

29. Create a new column with the floor area(sqft_living, sqft_lot, sqft_above, sqft_basement, all
combined in one column).

A. data['Floor Area'] = data['sqft_living'], data['sqft_lot'], data['sqft_basement'],
data['sqft_above']

B. df['Floor Area'] = data['sqft_living'] + data['sqft_lot'] + data['sqft_basement'] +
data['sqft_above']

C. data['Floor Area'] = data['sqft_living', 'sqft_lot','sqft_basement','sqft_above']

D. data['Floor Area'] = data['sqft_liv', 'sqft_lot','sqft_base','sqft_above']

Answer:"B"

In [ ]:

data = pd.DataFrame({"sqft_living": [1500, 2000], "sqft_lot": [5000, 6000], "sqft_basement": [500, 0], "sqft_above": [1000, 2000]})
data['Floor Area'] = data['sqft_living'] + data['sqft_lot'] + data['sqft_basement'] + data['sqft_above']
print("Data with Floor Area:\n", data)

Data with Floor Area:
    sqft_living  sqft_lot  sqft_basement  sqft_above  Floor Area
0         1500      5000            500        1000        8000
1         2000      6000              0        2000       10000

30) Perform the following operations on the dataframes given below.
A = pd.DataFrame([['Carl', 22],['Martha', 25],['Calvin', 12],['Stuart', 15]], columns=[‘Name’, ‘Age’])
B = pd.DataFrame([['Melvin', 25],['Martha', 34],['Lewis', 32],['Leo', 25]], columns=[‘Name’, ‘Age’])

1. Left Outer Join

2. Outer Join

3. Inner Join

4. Right Outer Join

A. inner = pd.merge(A, B, on='Age', how='inner_join')
outer = pd.merge(A, B, on='Age', how='outer_join')
left_outer = pd.merge(A, B, on='Age', how='left_join')
right_outer = pd.merge(A, B, on='Age', how='right_join')

B. inner = pd.merge(A, B, on='Age', how='inner')
outer = pd.merge(A, B, on='Age', how='outer')
left_outer = pd.merge(A, B, on='Age', how='left_outer')
right_outer = pd.merge(A, B, on='Age', how='right_outer')

C. inner = pd.merge(A, B, on='Age', how='inner')
outer = pd.merge(A, B, on='Age', how='outer')
left_outer = pd.merge(A, B, on='Age', how='left')
right_outer = pd.merge(A, B, on='Age', how='right')

D. inner = pd.merge(A, B, on='Age', how='inner')
outer = pd.merge(A, B, on='Age', how='outer')
left_outer = pd.merge(A, B, on='Age', how='outer_left')
right_outer = pd.merge(A, B, on='Age', how='outer_right')

Answer:"C"

In [ ]:

A = pd.DataFrame([["Carl", 22], ["Martha", 25], ["Calvin", 12], ["Stuart", 15]], columns=["Name", "Age"])
B = pd.DataFrame([["Melvin", 25], ["Martha", 34], ["Lewis", 32], ["Leo", 25]], columns=["Name", "Age"])
inner = pd.merge(A, B, on='Age', how='inner')
outer = pd.merge(A, B, on='Age', how='outer')
left_outer = pd.merge(A, B, on='Age', how='left')
right_outer = pd.merge(A, B, on='Age', how='right')
print("Inner Join:\n", inner)
print("Outer Join:\n", outer)
print("Left Outer Join:\n", left_outer)
print("Right Outer Join:\n", right_outer)

Inner Join:
    Name_x  Age  Name_y
0  Martha   25  Melvin
1  Martha   25     Leo
Outer Join:
    Name_x  Age  Name_y
0  Calvin   12     NaN
1  Stuart   15     NaN
2    Carl   22     NaN
3  Martha   25  Melvin
4  Martha   25     Leo
5     NaN   32   Lewis
6     NaN   34  Martha
Left Outer Join:
    Name_x  Age  Name_y
0    Carl   22     NaN
1  Martha   25  Melvin
2  Martha   25     Leo
3  Calvin   12     NaN
4  Stuart   15     NaN
Right Outer Join:
    Name_x  Age  Name_y
0  Martha   25  Melvin
1     NaN   34  Martha
2     NaN   32   Lewis
3  Martha   25     Leo

31. What will be the correlation between the columns sqft_living and sqft_above?

A. 0.702035

B. 0.754665

C. 0.876597

D. 0.303093

Answer:"C"

In [ ]:
import pandas as pd

# Assuming your dataset is loaded into a pandas DataFrame called 'housing'
correlation = housing[['sqft_living', 'sqft_above']].corr().loc['sqft_living', 'sqft_above']
print(f"The correlation between sqft_living and sqft_above is: {correlation}")

The correlation between sqft_living and sqft_above is: 0.8765965986813202

32. If the correlation between the columns bathrooms and sqft_living is 0.754665, what all
interpretations can be made about the two columns?

A. A positive correlation between the two columns

B. The columns show perfect correlation.

C. A strong negative correlation between the two columns

D. No correlation between the two columns.

Answer:"A"

In [ ]:
import pandas as pd

# Assuming your dataset is loaded into a pandas DataFrame called 'housing'
correlation = housing[['bathrooms', 'sqft_living']].corr().loc['bathrooms', 'sqft_living']
print(f"The correlation between bathrooms and sqft_living is: {correlation}")

The correlation between bathrooms and sqft_living is: 0.7546652789673752